<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <div><a rel="license" href="//creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International license"><img src="//i.creativecommons.org/l/by/4.0/88x31.png" alt="License"></a></div>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      Powered by <a target="_blank" href="http://hexo.io">Hexo</a>, themed by <a target="_blank" href="https://github.com/llh911001/hexo-theme-lighting">Lighting</a>.
    </div>
  </div>
</footer>
